<style>
    table.rltguest {
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 2px solid #FFFFFF;
  width: 40%;
  text-align: center;
  border-collapse: collapse;
}
table.rltguest td, table.rltguest th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.rltguest tbody td {
  font-size: 15px;
}
table.rltguest td:nth-child(even) {
  background: #EBEBEB;
}
table.rltguest thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.rltguest thead th {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.rltguest thead th:first-child {
  border-left: none;
}

table.rltguest tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.rltguest tfoot td {
  font-size: 14px;
}

#demo {
background: #D0E4F5 url("https://images.unsplash.com/photo-1469307580733-007134b82100?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60") no-repeat fixed 50% 50%;
}

</style>

<div id="demo" style="background: #D0E4F5 url(https://images.unsplash.com/photo-1469307580733-007134b82100?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60) no-repeat fixed 50% 50%;">
<table class="rltguest" align="center" style="font-family: &quot;Comic Sans MS&quot;, cursive, sans-serif;border: 2px solid #FFFFFF;width: 40%;text-align: center;border-collapse: collapse;">
<thead style="background: #FFFFFF;border-bottom: 4px solid #333333;">
<tr>
<th style="border: 1px solid #FFFFFF;padding: 3px 4px;font-size: 20px;font-weight: bold;color: #333333;text-align: center;border-left: none;">head1</th>
</tr>
</thead>
<tfoot style="font-size: 14px;font-weight: bold;color: #333333;border-top: 4px solid #333333;">
<tr>
<td style="border: 1px solid #FFFFFF;padding: 3px 4px;font-size: 14px;">foot1</td>
</tr>
</tfoot>
<tbody>
<tr>
<td style="border: 1px solid #FFFFFF;padding: 3px 4px;font-size: 15px;">cell1_1</td></tr>
<tr>
<td style="border: 1px solid #FFFFFF;padding: 3px 4px;font-size: 15px;">cell1_2</td></tr>
<tr>
<td style="border: 1px solid #FFFFFF;padding: 3px 4px;font-size: 15px;">cell1_3</td></tr>
<tr>
<td style="border: 1px solid #FFFFFF;padding: 3px 4px;font-size: 15px;">cell1_4</td></tr>
</tbody>
</table>
</div>